@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,300&family=Mulish:ital,wght@0,200;0,400;1,200&family=Oswald:wght@200;700&display=swap');


.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #5A20CB;
  line-height: 20rem;
}

h1{
  text-align: center;
  text-align: center;
  font-size: 12rem;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.sub{
  background: #CC0000;
  padding: 2rem 5rem;
  border-radius: 10px;
  box-shadow: 17px 11px 20px 2px black;
  /* border: 10px solid #ffffff; */
}

.code{
  font-size: 11rem;
  color: darkseagreen;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
